# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Usuario\Daniel_Aristy\Programacion\Proyectos IntelliJ\SofkaU\MyMedicalAppointments\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
